@import "tailwindcss";

:root {
  --font-outfit: font-family: "Outfit", sans-serif;
  --font-instrument-serif: font-family: "Instrument Serif", serif;
  --font-inter: font-family: "Inter", sans-serif;
  --font-public-sans: font-family: "Public Sans", sans-serif;
}


@theme inline {
  --color-background: #000D24;
  --color-foreground: #fff;
  --font-outfit: var(--font-outfit);
  --font-instrument-serif: var(--font-instrument-serif);
  --font-inter: var(--font-inter);
  --font-public-sans: var(--font-public-sans);
}

body {
  background: #000D24;
  color: #fff;
}
